<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tool-box</title>


    <style>
        a {
            text-decoration: none;
        }
    </style>

</head>
<body>
<li><a href="/countdown">倒计时</a></li>
<li><a href="/toCron">Cron 表达式</a></li>
<li><a href="/du">毒</a></li>
<li><a href="/kuaishou">快手 - 记录美好生活</a></li>
</body>
</html>